div.title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: red;
  -webkit-text-stroke: 0.2rem black;
  background-color: yellow;
  width: fit-content;
  margin: 0 auto;
}

img {
  width: 7%;
  margin-left: 0.5rem;
  vertical-align: super;
  border-radius: 50%;
  outline-style: solid black;
}

button.btn-roll {
  vertical-align: baseline;
}

button:hover {
  font-weight: 600;
  font-size: large;
  background: green;
}
button:hover i {
  margin-right: 20px;
}

button:focus {
  outline: none;
}

/* section.dice-container {
  display: flex;
} */

body {
  background-image: url('images/Background.jpg');
}

div.d {
  align-items: center;
}
