h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
}

img {
  height: auto;
  width: 7%;
}

section.dice-container {
  display: flex;
}

body {
  background-image: url('images/Background.jpg');
}
