h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
}

img {
  /* height: ; */
  width: 10%;
  margin-left: 0.5rem;
}

section.dice-container {
  display: grid;
  justify-content: space-evenly;
}

body {
  background-image: url('images/Background.jpg');
}
